* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom left, #9d1b9d, #ff8cd7);
}

.container {
  padding: 0px 10px;
  height: 82vh;
  width: 26vw;
  background-color: white;
  border-radius: 2rem;
  position: relative;
}

.stories-section {
  height: 90px;
  border-bottom: 1px solid gray;
  white-space: nowrap;
  overflow-x: auto;
}

.stories-section::-webkit-scrollbar {
  display: none;
}

.story {
  margin: 10px 2px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid red;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
  /* z-index: 1; */
}

.my-story {
  margin: 10px 0px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.my-story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 50%;
}

.my-story i {
  font-size: 20px;
  position: absolute;
  top: 74%;
  left: 65%;
  color: rgb(49, 49, 226);
  cursor: pointer;
  z-index: 1;
}

.modal {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  z-index: -2;
  position: absolute;
  border-radius: 2rem;
  margin-left: -10px;
  transition: all 0.3s ease;
}

.timeline-profile {
  height: 50px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  gap: 10px;
}

.timeline-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.timeline-profile-uploads {
  height: 260px;
  position: relative;
}

.timeline-profile-uploads img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.timeline-profile-uploads i.love {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  color: white;
  font-size: 3rem;
  opacity: 0;
  transition: 0.2s all ease;
}

.icons {
  height: 40px;
}

.icons i {
  font-size: 2rem;
  cursor: pointer;
}
